body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;

    background: #062540;
}

.container {
    width: 90vw;
    max-width: 1000px;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#clock {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;

    font-size: 1.5rem;

    width: 600px;
    height: 600px;
    background: #02101f;
    border-radius: 0.5rem;
    padding: 2rem;
    box-sizing: border-box;

    box-shadow: 5px 5px 8px #020f1b;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clock-section {
    display: flex;
    flex-wrap: wrap;

}

.word {
    text-transform: uppercase;
    color: #061f35;
    text-shadow: 0px 0px 3px #01101d;
    padding: 0.5rem 1rem;
}

.word.selected {
    color: #78a3d8;
    text-shadow: 0px 0px 5px #125aab;
    font-weight: 400;
}


.green {
    background: #1c4620;
}

.green #clock {
    background: #133517;
    text-shadow: 5px 5px 8px #021b03;
}

.green .word {
    color: #081f0a;
    text-shadow: 0px 0px 3px #05311a;
}

.green .word.selected {
    color: #75e680;
    text-shadow: 0px 0px 5px #34ab12;
}

.yellow {
    background: #ad8011;
}

.yellow #clock {
    background: #deba25;
    box-shadow: 5px 5px 8px #565319;
}

.yellow .word {
    color: #9a8d3d;
    text-shadow: 0px 0px 3px #ffe554;
}

.yellow .word.selected {
    color: #ffffff;
    text-shadow: 0px 0px 5px #29291a;
}




/* control panel */

.change-color {
    border: none;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;

    margin:0 1rem;
}

.change-color:hover {
    cursor: pointer;
}

#blue {
    background: #02101f;
}

#green {
    background: #133517;
}

#yellow {
    background: #deba25;
}







@media screen and (max-width: 768px) {

    #clock {
        width: 80vw;
        height: 80vw;
        font-size: 3vw;
    }

    .clock-section {
        padding: 0.5rem 0;
    }

}

@media screen and (max-width: 660px) {

    .container {
        width: 100vw;
    }

    #clock {
        width: 90vw;
        height: initial;
        font-size: 4.5vw;
        padding: 1rem;
    }

    .word {
        padding: 0.4rem;
    }

}