<HTML>
    <HEAD> 
        <TITLE>Maxim Pekarsky</TITLE>

        <!--  Google Fonts -->

        <!-- serif -->
        <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,600" rel="stylesheet">

        <!-- sans-serif -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">

        <!-- Browser icon -->
        <link rel="icon" href="assets/images/icon.png" />


        <script src="https://use.fontawesome.com/d912ae79c1.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="stylesheet.css"></style>

    </HEAD>


    <BODY>
        
        <!-- all major sections are suffixed "section" -->
        <div class="page-section" id="intro-section"> 
            <div class="section-wrapper" >
                <h1 id="name-heading">Maxim Pekarsky</h1>
                <h2 id="name-subheading">Product manager and engineer</h2>
            </div>
        </div>



        <div :class="{'page-section': true, 'dark-mode': darkMode}" id="projects-section">
            <button id = "dark-mode-toggle" @click="toggleDarkMode()">Dark Mode</button>
            <div class="section-wrapper">
                
                <div class="section-title">
                    <h2>Projects</h2>
                </div>
                


                <div v-for="project in projects" class="one-project">
                    <div class="project-pic"></div>
                    <div class="project-body">
                        <div class="project-name">{{ project.name }}</div>
                        <div class="project-tags">
                            <span v-for="tag in project.tags" class="project-tag">{{ tag }}</span>
                        </div>
                        <div class="project-description">{{ project.description }}</div>
                        <div class="project-links">
                            <a :href="project.live" target="_blank">Live Project</a>
                            <a :href="project.github" target="_blank">Github</a>
                        </div>
                    </div>  
                </div>  
            </div>
        </div>



        <!-- Front-end JS -->
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="script.js"></script>

    </BODY>
</HTML>